

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media all
{
.jumbotron {
background: white;
}

.badge, h2 span, #printable h3 span {
height: 40px;
color: white;
width: 40px;
display: table-cell;
text-align: center;
vertical-align: middle;
border-radius: 50%;
background: orange;
float: left;
line-height: 40px;
font-weight: bold;
margin-top: -5px;
margin-right: 10px;
}



/**
* Quarter Circles
*/

.circle {
	position:relative;
	width:140px;
	height:140px;
	margin:0 auto;
	float: right;
	margin: 20px;
}

.quarter {
	position:absolute;
	width:50%;
	height:50%;
	/*transition:background-color 0.2s ease-in-out;*/
}
.quarter:hover {
	background-color:grey;
}
.quarter1, .question-1 .quarter1 {
	top:0;
	right:0;
	background-color: #ff8000;
	border-radius:0 100% 0 0 ;
	
/* background: repeating-linear-gradient( 45deg, #FF4545, #FF4545 10px, #FFBABA 10px, #FFBABA 20px ); */
}

.question-1 h2 span,  span.no-1, #printable  span.no-1, .question-1 .quarter1:hover, .question-1-correct .quarter1, .question-1-correct #results .quarter1, .question-1-correct #rating .quarter1 {
background: #ff8000;
}

.quarter2, .question-2 .quarter2 {
	bottom:0;
	right:0;
	background-color:red;
	border-radius:0 0 100% 0;
/* background: repeating-linear-gradient( -45deg, #FFA500, #FFA500 10px, #FFD589 10px, #FFD589 20px ); */
}

#rating .quarter, .question-1-incorrect .quarter1, .question-2-incorrect .quarter2, .question-3-incorrect .quarter3, .question-4-incorrect .quarter4 {
	background-color: gray;
}

#intro p {
	max-width: 800px;
}

.question-2 h2 span, .question-2 .quarter2:hover, .question-2-correct .quarter2, span.no-2,  #printable  span.no-2, .question-2-correct #results .quarter2, .question-2-correct #rating .quarter2  {
background: red;
} 
.quarter3, .question-3 .quarter3 {
	bottom:0;
	left:0;
	background-color: magenta;
	border-radius:0 0 0 100% ;
/* background: repeating-linear-gradient( 45deg, #8CDB8C, #8CDB8B 10px, #39B439 10px, #39B439 20px ); */
}

.question-3 h2 span, .question-3 .quarter3:hover, .question-3-correct .quarter3,  #printable span.no-3, span.no-3, .question-3-correct #results .quarter3, span.no-3, .question-3-correct #rating .quarter3 {
background: magenta;
} 

.quarter4, .question-4 .quarter4 {
	top:0;
	left:0;
	background-color: #6e00bf;
	border-radius:100% 0 0 0;
/* background: repeating-linear-gradient( -45deg, #5E5EFF, #5E5EFF 10px, #9C9CFC 10px, #9C9CFC 20px ); */
}

#results .quarter {
	background-color: grey;
}

.question-4 h2 span, .question-4 .quarter4:hover, .question-4-correct .quarter4, #printable  span.no-4, span.no-4, .question-4-correct #results .quarter4, .question-4-correct #rating .quarter4 {
background: #6e00bf;
} 

#intro .circle {
	margin-left: 40px;
}

.cutout {
	width: 60%;
height: 60%;
background-color: #FFF;
position: absolute;
top: 20%;
left: 20%;
border-radius: 60%;
pointer-events: none;
text-align: center;
font-size: 50px;
line-height: 120px;

	}

.circle-inactive {
background: #ccc;
}

span.q1 {
	color: #ff8000; 
}

span.q2 {
	color: red; 
}

span.q3 {
	color: magenta; 
}

span.q4 {
	color: #6e00bf; 
}

#printable #rating {
	padding: 20px;
overflow: auto;
	width: 100%
}

#printable #rating, #printable .cutout {
background: #E2E2E2;
}

}

@media (min-width: 1020px) {
.container {
width: 1020px;
}
}

@media print
{
     * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
   }
}
