

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
background: white;
}

.badge, h2 span {
height: 40px;
color: white;
width: 40px;
display: table-cell;
text-align: center;
vertical-align: middle;
border-radius: 50%;
background: orange;
float: left;
line-height: 40px;
font-weight: bold;
}


.quarterCircleTopLeft{
     width:100px; 
     height:100px; 
     border:1px solid #000; 
     background: orange;
     border-radius: 90px 0 0 0;
}

.quarterCircleTopRight{
     width:100px; 
     height:100px; 
     border:1px solid #000; 
     background: orange;
     border-radius: 0 90px 0 0;
}

.quarterCircleBottomLeft{
     width:100px; 
     height:100px; 
     border:1px solid #000; 
     background: orange;
     border-radius: 0 0 90px 0;
}

.quarterCircleBottomRight{
     width:100px; 
     height:100px; 
     border:1px solid #000; 
     background: orange;
     border-radius: 0 0 0 90px;
}











